.input-focus1:focus{
    content: attr(placeholder);
    outline : none;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, #d9a7c7, #fffcdc);
    border-image-slice: 1;
    transition-duration: 0.5s;
}
.input-focus1{
    content: attr(placeholder);
    border-bottom: 1px solid gray;
}